section.intro {
  height: 100vh;
  background: radial-gradient(circle, #1488CC, #ff00cc);
  background-size: 1000% 1000%;
  animation: BackgroundSwitch 20s linear infinite;
  background-position: 10% 0;
  animation-direction: normal;
  @keyframes BackgroundSwitch {
    5% {
      background-position: 10% 0;
    }

    20% {
      background-position: 30% 0;
    }

    30% {
      background-position: 90% 0;
    }

    45% {
      background-position: 70% 0;
    }

    55% {
      background-position: 10% 0;
    }

    70% {
      background-position: 30% 0;
    }

    80% {
      background-position: 90% 0;
    }

    95% {
      background-position: 70% 0;
    }
  }
  @media #{$small-and-down} {
    background-position: 0 20%;
    @keyframes BackgroundSwitch {
      5% {
        background-position: 0 20%;
      }

      20% {
        background-position: 0 30%;
      }

      30% {
        background-position: 0 80%;
      }

      45% {
        background-position: 0 70%;
      }

      55% {
        background-position: 0 20%;
      }

      70% {
        background-position: 0 30%;
      }

      80% {
        background-position: 0 80%;
      }

      95% {
        background-position: 0 70%;
      }
    }
  }

  .content {
    text-align: center;
    margin-top: 18%;

    @media #{$medium-and-up} {
      margin-top: 1vh;
    }
  }

  h1 {
    font-size: 28px;
    font-weight: 300;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    @media #{$large-and-up} {
      font-size: 32px;
    }
    @media #{$extra-large-and-up} {
      font-size: 48px;
    }
  }

  .background_image {
    box-shadow: 0 64px 80px 8px rgba(0,0,0,0.14), 0 24px 112px 16px rgba(0,0,0,0.12), 0 40px 40px -24px rgba(0,0,0,0.3);
    position: relative;
    margin-top: 32px;
    width: 100%;
    @media #{$medium-and-up} {
      width: 90%;
      height: 400px;
      margin-top: 24px;
      left: 5%;
    }
    @media #{$large-and-up} {
      width: 70%;
      left: 15%;
    }
    @media #{$extra-large-and-up} {
      width: 100%;
      height: 420px;
      left: 0;
    }

    .video_button {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
