section.virtual-cloud-architect {
  .row {
    position: relative;
  }

  .image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0 !important;
    background-image: url("../images/laptop.jpg");
  }
}
