.contact {
  padding: 50px 0 0 0;
}

hr {
  max-width: 50px;
  background-color: rgb(32, 14, 56);
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: content-box;
  height: 4px;
}

p {
  font-size: 1.5rem;
}
