section.contact {
  padding: 50px 0;
  background-color: #EEEEEE;
  margin-top: -20px;
  padding: 48px 24px;

  p,
  span {
    color: #4a4a4a;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  div {
    margin-bottom: 0;
  }

  div.input-field {
    padding-left: 0;
  }

  input,
  textarea {
    margin-top: 10px !important;
    border-radius: 10px;
    border: none !important;
  }

  h4,
  h5 {
    font-weight: 300;
  }
}
