.product-flow {
  a {
    margin-top: -12px;
    background-color: white;
    width: 80px;
    height: 80px;
    i {
      color:rgb(32, 14, 56);
    }
  }
  .active {
    background-color:rgb(32, 14, 56);
    i {
      color: white;
    }
  }
  @media #{$small-and-down} {
    padding-top: 20px;
    a {
      margin: 25px;
    }
  }
}
