section.intro {
  height: 100vh;
  //background-color: #0D47A1;
  background: linear-gradient(#051329, #10356f);
  .content {
    margin-top: 10%;
    @media #{$medium-and-up} {
      margin-top: 5vh;
    }
  }


  h1 {
    font-size: 36px;
    font-weight: 300;
    @media #{$large-and-up} {
      font-size: 56px;
    }
    @media #{$extra-large-and-up} {
      font-size: 72px;
    }
  }
}
